<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ResidApp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item bg-primary" routerLinkActive="active">
                <a class="nav-link bg-primary" [routerLink]="['home']"> <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
            </li>

            <li class="nav-item bg-primary" routerLinkActive="active" *ngIf="loggedIn">
                <a class="nav-link bg-primary" (click)="search = 'reserva'" [routerLink]="['reservaciones']" href="#">
                    <i class="fas fa-address-book"></i> &nbsp;Reservaciones
                </a>
            </li>
            <li class="nav-item bg-primary" routerLinkActive="active">
                <a class="nav-link bg-primary" (click)="search = 'hospedaje'" [routerLink]="['/hospedaje',termino]" href="#"><i class="fa fa-list" aria-hidden="true"></i>
                    &nbsp;Hospedaje</a>
            </li>
            <!--
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="search = 'usuarios'" [routerLink]="['usuarios']" href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Cliente</a>
            </li>-->
            <li class="nav-item bg-primary" routerLinkActive="active">
                <a class="nav-link bg-primary" [routerLink]="['login']" *ngIf="!loggedIn"><i class="fas fa-sign-in-alt"></i>&nbsp; &nbsp;Iniciar Sesión</a>
            </li>
            <li class="nav-item dropdown bg-primary" routerLinkActive="active" *ngIf="loggedIn">
                <a class="nav-link dropdown-toggle bg-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user " aria-hidden="true "></i>&nbsp;&nbsp;{{ sesiona.nombre }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="background-color: #ECF0F1;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="logout($event)" *ngIf="loggedIn">
                            &nbsp;&nbsp;<i class="fas fa-sign-out-alt "></i>&nbsp;&nbsp;Cerrar Sesión&nbsp;
                    </a>
                </div>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" (click)="logout($event)" *ngIf="loggedIn"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['profile']" *ngIf="loggedIn">Profile</a>
            </li>-->

        </ul>
        <!--
        <form *ngIf="search == 'reserva'" class="form-inline my-2 my-lg-0">
            <i class="fas fa-search"></i>&nbsp;&nbsp;<input class="form-control form-control-sm mr-sm-2" (keyup)="buscarReserva( txtBuscar.value )" #txtBuscar type="text" placeholder="Buscar Reserva">
        </form>
        <form *ngIf="search == 'hospedaje'" class="form-inline my-2 my-lg-0">
            <i class="fas fa-search"></i>&nbsp;&nbsp; <input class="form-control form-control-sm mr-sm-2" (keyup)="buscarHospedaje( txtBuscar2.value )" #txtBuscar2 type="text" placeholder="Buscar Hospedaje">
        </form>-->

    </div>
</nav>