<br>
<div *ngIf="alerta" class="alert alert-success alert-dismissible fade show animated fadeIn fast" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    <strong>Reservacion</strong> eliminada exitosamente
</div>

<div class="row">
    <div class="col-10">
        <p class="tamano_letra_grande " style="color: darkgray;">
            Reservaciones<small></small>
        </p>
    </div>
    <div class="col-2">
        <button [routerLink]="['/reservar']" class="btn btn-sm btn-primary">                                                  
            Reservar
        </button>
    </div>
</div>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <table width="100%" *ngIf="!_serviceReserva.loading  && !_serviceReserva.error  && _serviceReserva.reservaciones.length != 0" class="table table-sm table-responsive align-content-center table-striped table-hover puntero">
            <thead>
                <tr class="tamano_letra_peque bg-success color_blanco">
                    <th class="text-center">Id</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Hospedaje</th>
                    <th class="text-center">Fecha Entrada</th>
                    <th class="text-center">Fecha Salida</th>
                    <th class="text-center">Fecha Reserva</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" width="70px">Eliminar</th>
                    <th class="text-center" width="70px">Pagos</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tamano_letra_peque " *ngFor="let k of _serviceReserva.reservaciones | trans; let i = index">
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].id }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].es_de_usuario.nombre }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].hospedaje.descripcion }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].fechainicio | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].fechasalida | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].fechareserva | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center">{{ _serviceReserva.reservaciones[k].status }}</td>
                    <td class="text-center">
                        <button (click)="abrirModalEliminar(_serviceReserva.reservaciones[k].id,k,_serviceReserva.reservaciones[k].es_de_usuario.nombre)" type="button" class="btn btn-sm btn-danger btn-block">
                       
                               <i class="fas fa-trash"></i>

            </button></td>
                    <td class="text-center">
                        <button alt="ver" (click)="abrirModalPagos(_serviceReserva.reservaciones[k].id)" type="button" class="btn btn-sm btn-primary btn-block">
                        
                                <i class="fas fa-dollar-sign"></i>
                </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="(_serviceReserva.reservaciones | trans).length === 0 && !_serviceReserva.loading && !_serviceReserva.error" style="margin-left: 25px; " class="alert col-md-11 alert-info" role="alert">
        <strong>No hay</strong> reservaciones que mostrar
    </div>
    <div class="col-md-12">
        <div *ngIf="_serviceReserva.loading" width="100%" class="alert alert-info" style=" text-align: center;" role="alert">
            <strong>Cargando...</strong>
            <div class="loader loader--style1" title="0">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                  s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                  c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                  C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 20 20"
                    to="360 20 20"
                    dur="0.5s"
                    repeatCount="indefinite"/>
                  </path>
                </svg>
            </div>
            <p>Espere por favor</p>
        </div>
    </div>
    <div *ngIf="_serviceReserva.error" class="alert alert-danger animated fadeIn" style="margin-left: 25px;  text-align: center;" role="alert">
        <h4 class="alert-heading ">Error</h4>
        <p>{{ _serviceReserva.mensajeError}}</p>
        <p class="mb-0"></p>
    </div>







    <!-- Modal Eliminar-->
    <div class="modal fade" id="ModalEliminar1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Reservación</h5>
                </div>
                <div class="modal-body">
                    ¿Está seguro de eliminar la reservación de {{ nombre }} ?
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModalEliminar('SI')" class="btn btn-primary">Si</button>
                    <button (click)="cerrarModalEliminar('NO')" type="button" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Pagos-->
    <div class="modal fade" id="ModalPagos1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pagos de la Reservación Id: {{ id }}</h5>
                </div>
                <div class="modal-body">




                    <div *ngIf="mostrar">
                        <p class="tamano_letra_grande " style="color: darkgray;">
                            Formulario<small>/Registro de Pago</small>
                        </p>
                        <hr>
                        <form (ngSubmit)="guardar_pago(forma_pago)" #forma_pago="ngForm" novalidate="">
                            <input [(ngModel)]="pago.reservacion_id" #reservacion_id="ngModel" type="hidden" name="reservacion_id">

                            <div class="form-group row  has danger">
                                <label class="col-2 col-form-label">Monto:</label>
                                <div class="col-8">
                                    <input class="form-control" [(ngModel)]="pago.monto" #monto="ngModel" type="text" placeholder="Monto..." name="monto" required minlength="2">
                                    <div *ngIf="monto.errors?.required " class="form-control-feedback ">
                                        El campo es requerido
                                    </div>
                                    <div class="form-control-feedback " *ngIf="monto.errors?.minlength ">
                                        Por lo menos {{ monto.errors.minlength.requiredLength }} caracteres
                                    </div>
                                </div>
                            </div>

                            <!--[disabled]="!forma.valid " -->
                            <div class="form-group row ">
                                <label class="col-2 col-form-label ">&nbsp;</label>
                                <div class="input-group col-md-8 ">
                                    <button [disabled]="!forma_pago.valid " type="submit " class="btn btn-outline-primary ">
                                    Guardar
                                  </button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <button (click)="mostrar = !mostrar" type="button" class="btn btn-sm btn-primary btn-block">                                                  
                           Mostrar/Ocultar Carga de Pago
                    </button>
                    <div *ngIf="_servicePagos.alerta" class="alert alert-success alert-dismissible fade show animated fadeIn fast" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                        <strong>Pago</strong> eliminado exitosamente
                    </div>
                    <div *ngIf="_servicePagos.alerta2" class="alert alert-success alert-dismissible fade show animated fadeIn fast" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                        <strong>Pago</strong> cargado con éxito
                    </div>
                    <div class="row animated fadeIn fast">
                        <div class="col-md-12" style="text-align: center;">
                            <table width="100%" *ngIf="!_servicePagos.loading  && !_servicePagos.error && _servicePagos.pagos.length != 0" class="table table-sm align-content-center table-striped table-hover puntero">
                                <thead>
                                    <tr class="tamano_letra_peque bg-success color_blanco">
                                        <th class="text-center">Id</th>
                                        <th class="text-center">Monto</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center" width="70px">Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tamano_letra_peque " *ngFor="let x of _servicePagos.pagos | trans; let i = index">
                                        <td class="text-center">{{ _servicePagos.pagos[x].id }}</td>
                                        <td class="text-center">$ {{ (_servicePagos.pagos[x].monto | number:'.0-0').replace(',','.') }}</td>
                                        <td class="text-center">{{ _servicePagos.pagos[x].created_at | date:'dd-MM-yyyy' }}</td>
                                        <td class="text-center">
                                            <button (click)="_servicePagos.eliminar_pagos(_servicePagos.pagos[x].id,x)" type="button" class="btn btn-sm btn-danger btn-block">
                                                       
                                                               <i class="fas fa-trash"></i>
                                            </button></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="_servicePagos.pagos.length === 0 && !_servicePagos.loading && !_servicePagos.error" style="margin-left: 25px; " class="alert col-md-11 alert-info" role="alert">
                            <strong>No hay</strong> pagos que mostrar
                        </div>
                        <div class="col-md-12">
                            <div *ngIf="_servicePagos.loading" width="100%" class="alert alert-info" style="text-align: center;" role="alert">
                                <strong>Cargando...</strong>
                                <div class="loader loader--style1" title="0">
                                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                                  s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                                  c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                                                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                                  C22.32,8.481,24.301,9.057,26.013,10.047z">
                                                  <animateTransform attributeType="xml"
                                                    attributeName="transform"
                                                    type="rotate"
                                                    from="0 20 20"
                                                    to="360 20 20"
                                                    dur="0.5s"
                                                    repeatCount="indefinite"/>
                                                  </path>
                                                </svg>
                                </div>
                                <p>Espere por favor</p>
                            </div>
                        </div>
                        <div *ngIf="_servicePagos.error" class="alert alert-danger animated fadeIn" style="margin-left: 25px;  text-align: center;" role="alert">
                            <h4 class="alert-heading ">Error</h4>
                            <p>{{ _servicePagos.mensajeError}}</p>
                            <p class="mb-0"></p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button (click)="cerrarModalPagos('NO')" type="button" class="btn btn-secondary">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>