<p class="tamano_letra_grande " style="color: darkgray;">
    Formulario<small>/Registro</small>
</p>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

    <div class="form-group row" [ngClass]="{ 'has danger':(nombre.errors?.required || nombre.errors?.minlength) && nombre.touched }">
        <label class="col-2 col-form-label">Nombre:</label>
        <div class="col-8">
            <input #nombre="ngModel" class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required minlength="5">
            <div *ngIf="nombre.errors?.required" class="form-control-feedback">
                El campo es requerido
            </div>
            <div class=" form-control-feedback " *ngIf="nombre.errors?.minlength ">
                Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres
            </div>
        </div>
    </div>
    <div class="form-group row has danger ">
        <label class="col-2 col-form-label ">Apellido:</label>
        <div class="col-8 ">
            <input required #apellido="ngModel" class="form-control" type="text" name="apellido" placeholder="Apellido" [(ngModel)]="usuario.apellido">
            <div class="form-control-feedback" *ngIf="apellido.errors?.required">
                El campo es requerido
            </div>
        </div>
    </div>
    <div class="form-group row has danger ">
        <label class="col-2 col-form-label ">Id:</label>
        <div class="col-8 ">
            <input #cedula="ngModel" class="form-control " type="text " placeholder="Cedula/Pasaporte " name="cedula " [(ngModel)]="usuario.cedula " required minlength="7 ">
            <div *ngIf="cedula.errors?.required " class="form-control-feedback ">
                El campo es requerido
            </div>
        </div>
    </div>
    <div class="form-group row " [ngClass]="{ 'has danger':(direccion.errors?.required || direccion.errors?.minlength) && direccion.touched } ">
        <label class="col-2 col-form-label ">Dirección:</label>
        <div class="col-8 ">
            <input #direccion="ngModel" class="form-control " type="text " placeholder="Direccion " name="direccion " [(ngModel)]="usuario.direccion ">
        </div>
    </div>
    <div class="form-group row " [ngClass]="{ 'has danger':(telefono.errors?.required || telefono.errors?.minlength) && telefono.touched } ">
        <label class="col-2 col-form-label ">Telefono:</label>
        <div class="col-8 ">
            <input #telefono="ngModel" class="form-control " type="text " placeholder="Telefono " name="telefono " [(ngModel)]="usuario.telefono ">
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-2 col-form-label ">Email:</label>
        <div class="col-md-8 ">
            <input #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$ " required class="form-control " type="email " name="email " placeholder="Correo electrónico " [(ngModel)]="usuario.correo ">
            <div class="form-control-feedback " *ngIf="email.errors?.required ">
                El campo es requerido
            </div>
            <div class="form-control-feedback " *ngIf="email.errors?.pattern ">
                No esta bien escrito el email
            </div>
        </div>
    </div>
    <div class="form-group row has danger ">
        <label class="col-2 col-form-label ">Password:</label>
        <div class="col-8 ">
            <input #password="ngModel" class="form-control " type="password " placeholder="Password " name="password " [(ngModel)]="usuario.password " required minlength="7 ">
            <div *ngIf="password.errors?.required " class="form-control-feedback ">
                El campo es requerido
            </div>
            <div class="form-control-feedback " *ngIf="password.errors?.minlength ">
                Por lo menos {{ password.errors.minlength.requiredLength }} caracteres
            </div>
        </div>
    </div>
    <div class="form-group row has danger ">
        <label class="col-2 col-form-label ">Repetir Password:</label>
        <div class="col-8 ">
            <input #password2="ngModel" class="form-control " type="password " placeholder="Password " name="password2 " [(ngModel)]="usuario.password " required minlength="7 ">
            <div *ngIf="password2.errors?.required " class="form-control-feedback ">
                El campo es requerido
            </div>
            <div class="form-control-feedback " *ngIf="password2.errors?.minlength ">
                Por lo menos {{ password2.errors.minlength.requiredLength }} caracteres
            </div>
        </div>
    </div>
    <!--[disabled]="!forma.valid " -->
    <div class="form-group row ">
        <label class="col-2 col-form-label ">&nbsp;</label>
        <div class="input-group col-md-8 ">
            <button [disabled]="!forma.valid " type="submit " class="btn btn-outline-primary ">
        Guardar
      </button>
        </div>
    </div>

</form>
<pre>

  {{ usuario | json }}
</pre>