<br>
<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="tamano_letra_grande " style="color: darkgray;">
                    Reset<small>/Password</small>
                </div>
            </div>
            <div class="alert alert-danger" [hidden]="!error">
                {{error}}
            </div>
            <div class="card-body m-2">
                <form #ResetPasswordForm=ngForm (ngSubmit)="onSubmit()">

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-12 col-md-2 col-form-label">Email</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="email" name="email" class="form-control" id="inputEmail3ss" placeholder="Email" [(ngModel)]="form.email" required>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-12 col-md-2 col-form-label">Password</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="password" name="password" class="form-control" id="inputPasswordsd3" placeholder="Password" [(ngModel)]="form.password" required>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword4" class="col-sm-12 col-md-2 col-form-label">Confirmar Password</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="password" name="password_confirmation" class="form-control" id="insdputPassword4" placeholder="Confirmar Password" [(ngModel)]="form.password_confirmation" required>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 col-md-2"></div>
                        <div class="col-sm-12 col-md-10">
                            <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!ResetPasswordForm.valid">Cambiar Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>